body {
	background-color: #FFFFFF;
	margin-left: 70px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 14px;
	line-height:16px;
}

hr{
   border: 1px solid #FFFFFF;
}

a:link{
	color:#0055CC;
}
a:visited{
		color:#990099;
}
a:hover{
		color:#CC0000;
}

th{
	background-color:#FFFFFF;
 	font-weight:bold;
}

td{
	background-color:#ecf7fe;
 	text-align:center;
}

#chartdiv{
    width:1300px; height:700px;
}

.main-background{
  text-align: center;
  height: 700px;
  width: 1300px;
    background-image: url("../images/background-blue.jpg");
}

.main-list{
    align-content: center;
}
